# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
/venv/
env/
ENV/
.venv/

# Google credentials
credentials.json

# dotenv environment variables
.env

# VS Code settings
.vscode/

# MacOS metadata
.DS_Store

# Heroku build files
*.log
